.bg {
    z-index: -1;
    position: fixed;
    /* The image used */
    background-image: url("bg.jpg");

    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-blur {
    backdrop-filter: blur(2px);
    /* blur effect to the backdrop */
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 100%;
}

#dslr-gif {
    z-index: 1;
    position:fixed;
}


.sidebar {
    position:fixed;
    width: 500px;
    height:100%    ;
    font-size: 20px;
    background: #191919;
    min-height: 100vh;
  }

  .nav {
    position:relative;
    margin-top: 400px;
    margin-left: 100px;
    text-align: left;
    top: 250px;
    transform: translateY(-50%);
    font-weight: bold;
  }
  .nav ul {
    list-style: none;
    transition: 1.5s;
  }
  .nav ul a{
    transition: 0.8s;
    color: #ecbb19;
  }
  .nav ul .active a{
    color: rgb(243, 95, 95);
  }
  .nav ul a:hover{
    color: rgb(34, 155, 149);
  }

  a {
    line-height: 5em;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: white
  }

  .active a {
    color: white;
  }

  not .active ::after {
    opacity: 0.2;
  }

  not.active:hover a {
    color: rgba(#FFF, 0.75);
  }

  section {
    color: rgb(0, 0, 0);
    margin-left: 650px;
    font-size: larger;
    font-weight: bolder;
    
 } 
 section p{
   transition: 1.5s;
 }
 section p:hover{
   color:rgb(255, 166, 0);
 }
 section .title {
    margin-left: 200px;
    color: #c9bfe0;
    font-size: 60px;
    font-weight: bold;
 }
 section span:hover{
   color: aliceblue;
   transition: 0.7s;
 }
 section .running-cameraman img  {
     height: 100px;
     margin-left: 580px;
     margin-top: -65px;
     position:absolute;
 }

 .clear{ clear: both;}
 
 section .aboutus-gif img{
    position:relative;
    height: 200px;
 }
 
 .sidebar div img{
   height: 148px;
   margin-left:0%;
   
 }
 .sidebar .social-media{
   position:fixed;
   margin-left: 100px;
   bottom: 0;
   display: flex;
 }
 .sidebar .social-media a{
   display: block;
   width: 70px;
   font-size:large;
   background: rgb(218, 211, 211);
   height: 100px;
   line-height: 50px;
   text-align:center;
   margin: 0 10px;
   color: #bc6c54;
   border-top-right-radius:5px ;
   border-top-left-radius: 5px;
   transition: 0.5s;
 }
 .sidebar .social-media a:hover{
   background: #000000;
   font-size: xx-large;
 }
 
 
 .alt ul{
   font-size: large;
   margin-left: 580px;
   font-weight: bold;
   font-family: monospace;
 }
 .alt li{
   display: inline;
   margin: 30px;
   position: relative;
 }
 .alt ul a {
   color:rgb(51, 1, 1);
   font-family: monospace;
   transition: 0.8s;
 }
 .alt ul a:hover{
   color: chartreuse;
 }
 
 section h1{
   text-shadow: 0 0 12px #FF0000, 0 0 20px #0000FF;
   color: chartreuse;
   font-size: 35px;
   text-align: left;
   font-weight: bold;
   font-family: monospace;
 }
 section .dslr-01 img{
 margin-left:0%;
 border-radius:50% 20% / 10% 40%;
 height: 250px;
 }
 section .dslr-01 p{
 /* text-align: center; */
 text-shadow: 0 0 24px #249148, 0 0 40px #0000FF;
 font-size: 30px;
 font-weight: bold;
 transition: 0.5s;
 }

 section .dslr-01{
   margin-right: 30%;
 }
 section .dslr-02 img{
    position: absolute;
    margin-top: -350px;
    margin-left: 700px;
   border-radius:50% 20% / 10% 40%;
   height: 250px;
   }
   section .dslr-02 p{
    position: absolute;
    margin-top: -85px;
    margin-left: 700px;
   text-align: right;
   text-shadow: 0 0 24px #249148, 0 0 40px #0000FF;
   font-size: 30px;
   font-weight: bold;
   transition: 0.5s;
   }

   section .dslr-03 img{
     /* margin-left: 33%; */
     border-radius:50% 20% / 10% 40%;
     height: 250px;
     
     }
     section .dslr-03 p{
        
     text-align: left;
     text-shadow: 0 0 24px #249148, 0 0 40px #0000FF;
     font-size: 30px;
     font-weight: bold;
     transition: 0.5s;
     }
    
     section .dslr-04 img{
        position:absolute;
        margin-top: -350px;
        margin-left: 700px;
       border-radius:50% 20% / 10% 40%;
       height: 250px;
       }
       section .dslr-04 p{
        position: absolute;
        margin-top: -85px;
        margin-left: 700px;
       text-shadow: 0 0 24px #249148, 0 0 40px #0000FF;
       font-size: 30px;
       font-weight: bold;
       transition: 0.5s;
       }

       .contact ul{
        text-decoration: none;
        list-style: none;
      }
      .contact ul li a{
        line-height: 10px;
        color:rgb(180, 180, 179);
      }
      .map img{
        height: 300px;
        padding-bottom: 30px;
      }